.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
.topP {
    text-align: center;
}
.img-size {
    width: 600px;
    height: 400px;
}
h1 {
    color: #252196;
    text-decoration: underline;
}
h2 {
    color: #252196;
    text-decoration: underline;
}
body {
    /*background-color: #009698;*/
    background: url("../img/green-fence.jpg") no-repeat center center fixed;
    background-size: cover;
}
main {
    color: #cc1616;
    /*background-image: url(https://tinyurl.com/yb338rfg);*/
    /*background-image: url("../img/bright-bulb.jpg");*/
    /*background-repeat: no-repeat;*/
    font-family: 'Righteous', cursive;
}
#hover:hover {
    color: #ff4457;
    transition: all 0.3s ease;
}
.images {
    text-align: center;
}
ul {
    list-style: square;
}
table {
    width: 65%;
    border-collapse: collapse;
    border: 2px solid #39cc39;
}
tr {
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    border: 2px solid #39cc39;
    text-align: center;
}
td {
    padding: 5px;
    height: 50px;
    vertical-align: middle;
    border: 2px solid #39cc39;
}

a:link {
    color: #ff7700;
}
a:visited {
    color: #c700ff;
}
a:hover {
    color: #00fff6;
}
a:active {
    color: #ffe900;
}
footer {
    font-weight: bold;
    font-size: 150%;
}
.center {
    text-align: center;
}
.cenTab {
    margin: 0 auto;
}